{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/about.css') }}">
{% endblock %}

{% block main %}
<body style="background-color:#E3BC9A">

{# Block1 : A propos d'helssyskin #}
<div class="wrapper">
     <section>
      <div class="philosophie">
        <h2>A propos d'HelssySkin</h2><br>

          <p>Maquillage, mauvais nettoyage, produits pour la peau agressifs, la pollution de l'air, mauvais gestes, mauvaises routines, produits non adaptés à son type de peau… 

          Pour pouvoir suivre les tendances, notre peau est menée à rude épreuve et les désastres sur la peau sont fréquents. Le problème, c’est que la peau ne cicatrise pas sans produits adaptés à ses besoins...

          Pour éviter le point de non retour de peaux sèches, déshydratées ou à problèmes, il est nécessaire d'apprendre à traiter sa peau différemment. Il faut la chouchouter avec des produits sains et il faut trouver une manière de l'embellir sans l'abîmer. L’objectif d'HelssySkin, c’est exactement ça !</p>
      </div>

      {# Block2 : Image_soin_peau #}
      <div class="image_a_propos">
        <img src="/images/creme_peau.jpg" Alt="creme_soin"/>
      </div>
    </section><br>
</div>
    {# Block3 : Nos valeurs #}
      <section>
        {# <div class="valeurs1"> #}

          <h2>Nos valeurs</h2><br>

          <div class="wrapper_valeurs">
	          <div class="card_valeurs">
		          <img src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&fit=crop&w=667&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
		        <div class="info_valeurs">
			        <h2>ENGAGEMENT</h2>
			          <p> Lorem Ipsum is simply dummy text from the printing and typeseting industry
			            button Read More</p>

           <div class="wrapper_valeurs2">
	          <div class="card_valeurs">
		          <img src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&fit=crop&w=667&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
		        <div class="info_valeurs">
			        <h2>EXIGENCE DE QUALITE</h2>
			          <p> Lorem Ipsum is simply dummy text from the printing and typeseting industry
			            button Read More</p>
            
            <div class="wrapper_valeurs3">
	            <div class="card_valeurs">
		            <img src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&fit=crop&w=667&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
		          <div class="info_valeurs">
			          <h2>TRANSPARENCE</h2>
			            <p> Lorem Ipsum is simply dummy text from the printing and typeseting industry
			            button Read More</p>

            <div class="wrapper_valeurs4">
	            <div class="card_valeurs">
		            <img src="https://images.unsplash.com/photo-1477666250292-1419fac4c25c?auto=format&fit=crop&w=667&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D">
		          <div class="info_valeurs">
			          <h2>INTEGRITE</h2>
			            <p> Lorem Ipsum is simply dummy text from the printing and typeseting industry
			            button Read More</p>

            {# <h5>ENGAGEMENT</h5>
              <p>
          Nous nous engageons à vous proposer des produits de qualité bio et sains adaptés à chaque type de peau. Notre objectif est de vous apporter les meilleurs soins en adéquation à vos besoins. Nous vous accompagnons pour vous aider à connaître votre type de peau également.
            </p>
        </div>
      <div class="valeurs2">

        <h5>EXIGENCE DE QUALITE</h5>
          <p>
          La qualité est au centre de nos priorités. C'est le fil conducteur de nos engagements envers vous afin de vous apporter des produits naturels et sains certifiés "bio". Toutes nos exigences sont accès sur la qualité de nos produits.
          </p>
      </div>
      <div class="valeurs3">

        <h5>TRANSPARENCE</h5>
          <p>
         La traçabilité est au centre de notre gestion au quotidien. Nous nous attelons à rester proactifs tout en proposant des produits naturels en toute transparence. En effet, la transparence fait partie de notre éthique tant sur le plan professionnel qu'humain.
          </p>
      </div>
      <div class="valeurs4">

        <h5>INTEGRITE</h5>
          <p>
        La base fondamentale de notre travail respecte un cadre éthique propre à nos interactions professionnelles qu'est l'intégrité. C'est une valeur importante chez HelssySkin que nous mettons au centre de nos préoccupations ainsi que de nos priorités quotidiennement.
          </p> #}
      </div>
    </section>
</div>
</body>
{% endblock %}
