{% extends 'base.html.twig' %}

{% block title %}Soins Corps{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/soins_corps.css') }}">
{% endblock %}

{% block main %}

<body style="background-color:#E3BC9A">

{# Les produits du corps #}

<div class="card_hands">
  <div class="card" style="width: 18rem; display:flex;margin-left:10px">
    <img class="card-img-top" src="/images/products_img/Creme_Nutrition_Intense_2.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Crème riche en hydratation</h5>
      <h6 class="card-price">40,00€</h6>
        <p class="card-text">Crème hydratante enrichies aux huiles essentielles de romarin et babassu</p>
          <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
</div>
<div class="card" style="width:18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/creme_hydratante_mains_bio.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Crème hydratante mains HSkin</h5>
    <h6 class="card-price">8,90€</h6>
      <p class="card-text">Crème hydratante mains à base d'aloé véra</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem; display:flex">
  <img class="card-img-top" src="/images/products_img/soin-des-ongles-fortifiant-bio.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Soin ongles HSkin</h5>
    <h6 class="card-price">15,50€</h6>
      <p class="card-text">Soin aux huiles essentielles pour cuticules et ongles</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

<div class="card_skin">

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/exfoliant-corps-bio.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Exfoliant Corps HSkin</h5>
    <h6 class="card-price">28,90€</h6>
      <p class="card-text">Exfoliant crémeux à la fleur d'oranger</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/laitcorporel_hydrantant.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Lait corporelle HSkin</h5>
    <h6 class="card-price">35,90€</h6>
      <p class="card-text">Hydratant corporelle à base d'huile de jojoba</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem; display:flex">
  <img class="card-img-top" src="/images/products_img/gommage_maison.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Gommage MadeHome HSkin</h5>
    <h6 class="card-price">29,90€</h6>
      <p class="card-text">Gommage madehome à base de sucre roux</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

<div class="card_legs">

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/savon-noir-eucalyptus.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Savon noir bio HSkin</h5>
    <h6 class="card-price">20,00€</h6>
      <p class="card-text">Savon noir</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<div class="card" style="width: 18rem; display:flex;margin-left:10px">
  <img class="card-img-top" src="/images/products_img/sel-depsom.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Gommage au sel d'epsom HSkin</h5>
    <h6 class="card-price">11,90€</h6>
      <p class="card-text">Gommage naturel au sel d'Epsom</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem; display:flex;margin-left:10px;">
  <img class="card-img-top" src="/images/products_img/huile-essentielle-menthe-verte.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Booster huiles essentielles Bio HSkin</h5>
    <h6 class="card-price">66,90€</h6>
      <p class="card-text">Serum-booster à base de figue de barbarie et menthe poivrée</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
    </div>
  </div>

{% endblock %}
