main {
    padding-top: 85.97px;
}

/* Block 1 */
/* #about .wrapper_about { 
    width:100%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}*/

.philosophie {
   /* height:40%;
    width:40%;
    text-align:center;
    margin-right:20px;
    margin-left:40px;
    border
    border-width:8px;
    border-color:#FFFFFF;
    display:inline-block;
    color:white; */
    border: 2px solid white;
    border-radius:8px;
    color:white;
    font-size:20px;
}

img.w-75 {
    border-radius:8px;
    border-top-left-radius:40px;
    border-bottom-right-radius:40px;
}

/* h2.philosophie {
    color:white;
    font-style: italic;
    text-align:justify;
    margin-right:20px;
    margin-top: 30px;
}

.philosophie > p {
    font-weight:bold;
    letter-spacing: 1px;
	font-size: 15px;
    margin-right:20px;
    margin-left:20px;
} */

/* Block 2 */
/* .image_a_propos {
    width:40%;
    height:30%;
    box-align:center;
    display:inline-block;
    flex-direction:column;
    margin:auto;
}

.image_a_propos > img {
    border-radius:20px;
    box-shadow:5px;
    margin-right:10px;
    width:50%;
    height:50%;
    margin-top:100px;
} */

/* Block 3 */
h2.titre_valeurs {
    color: white;
    font-style:italic;
    margin-left:10px;
}

section.about_valeurs {
    padding:0;
    margin:0;
    font-family:'Poppins', sans-serif;
    /* display:flex;
    justify-content:center;
    align-items: center; */
}

.container {
    position: relative;
    width: 1100px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    padding:20px;
}

.container .card {
    position:relative;
    max-width:300px;
    height:210px;
    background:#EFE9D0;
    text-shadow:1px black;
    margin:20px 10px;
    margin-left:50px;
    padding:20px 15px;
    display:flex;
    flex-direction:column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-out;
    justify-content: space-between;
}

.container .card:hover {
    height:470px;
}

.container .card .imgBX {
    position:relative;
    width:260px;
    height:260px;
    top: -60px;
    left:20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBX img {
    max-width: 100%;
    border-radius:4px;
    max-height: 172,45px;
}

.container .card .content {
    position:relative;
    margin-top: -200px;
    padding: 10px 15px;
    text-align: center;
    color:#606060;
    font-weight:bold;
    visibility: hidden;
    opacity:0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity:1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

.content h5 {
    font-weight: bold;
}

/* .about_valeurs {
    width:100%;
    box-align:center;
    margin-right:30px;
    display:flex;
    justify-content: space-around;
}

.valeurs1,.valeurs2,.valeurs3,.valeurs4 {
    width:30%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin-right:10px;
    text-justify:auto;
    text-align:center;
}

.info_valeurs > h5 {
    color: #606060;;
    text-shadow:5px;
    border-radius:black;
}

.wrapper_valeurs {
	display: flex;
	justify-content: center;
    width :300px;
}

h2.titre_valeurs {
    color:white;
    font-style: italic;
    text-align:justify;
    margin-left:20px;
    margin-top:20px;
}

.card_valeurs1 {
	width: 260px;
	height: 200px;
	border-top-left-radius:80px;
    border-bottom-right-radius:80px;
	padding: 1.5rem;
	background-image:URL('/images/engagement.png');
    background-size:cover center;
    border:2px solid whitesmoke;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    margin-bottom:20px;

}
.card_valeurs2 {
	width: 260px;
	height: 200px;
	border-top-left-radius:80px;
    border-bottom-right-radius:80px;
	padding: 1.5rem;
	background-image:URL('/images/engagement.png');
    background-size:cover center;
    border:2px solid whitesmoke;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    margin-bottom:20px;

}
.card_valeurs3 {
	width: 260px;
	height: 200px;
	border-top-left-radius:80px;
    border-bottom-right-radius:80px;
	padding: 1.5rem;
	background-image:URL('/images/engagement.png');
    background-size:cover center;
    border:2px solid whitesmoke;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    margin-bottom:20px;

}
.card_valeurs4 {
	width: 260px;
	height: 200px;
	border-top-left-radius:80px;
    border-bottom-right-radius:80px;
	padding: 1.5rem;
	background-image:URL('/images/engagement.png');
    background-size:cover center;
    border:2px solid whitesmoke;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);
    margin-bottom:20px;

}

.card_valeurs:hover {
	transform: translateY(20px)
}

.info {
	opacity: 1;
	transform: translateY(0px);
}

.card_valeurs:before {
	content: "";
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background: rgba(black, 0.6);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}
        
.card_valeurs > img {
	width: 100%;
	height: 100%;
	position: relative;
    top:0;
	left:0;
	border-radius: 15px;
}

.card_valeurs1 > h5 {
    color:white;
    font-weight:bold;
    font-size:medium;
    text-align:center;
    justify-content: center;
    font-family:Lucida Sans,Verdana;
    margin-bottom: 50px;
    margin-left:35px;
}

.card_valeurs2 > h5 {
    color:white;
    font-weight:bold;
    font-size:medium;
    text-align:center;
    justify-content: center;
    font-family:Lucida Sans,Verdana;
    margin-bottom: 45px;
    margin-left:35px;
}

.card_valeurs3 > h5 {
    color:white;
    font-weight:bold;
    font-size:medium;
    text-align:center;
    justify-content: center;
    font-family:Lucida Sans,Verdana;
    margin-bottom: 50px;
    margin-left:35px;
} */

.card_valeurs4 > h5 {
    color:white;
    font-weight:bold;
    font-size:medium;
    text-align:center;
    justify-content: center;
    font-family:Lucida Sans,Verdana;
    margin-bottom: 50px;
    margin-left:35px;
}


.info_valeurs {
	position: relative;
	z-index: 3;
	color: white;
	opacity: 0;
	transform: translateY(30px);
	transition: 0.5s;
}

/* button {
	padding: 0.6rem;
	outline: none;
	border: none;
	border-radius: 3px;
	background: white;
	color: black;
	font-weight: bold;
	cursor: pointer;
	transition: 0.4s ease;
}

button:hover {
	background: dodgerblue;
	color: white;
} */
