/* Block1 */
.contact_container {
    background-image: url('../images/background-image5.jpg');
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#E3BC9A;
}

.contact_container {
    width:100%;
    display:flex;
    justify-content: center;
}

.contact_us {
    margin-top: 90px;
	width: 100%;
    color:white;
    font-weight:bold;
    font-style:italic;
    display:flex;
    position:relative;
}

.adresse > p {
    text-align: center;
    font-size: 25px;
    color:white;
    font-weight:bold;
}

.adresse {
    width:30%;
    display:flex;

}

.titre > h2 {
    margin-left:20px;
    text-align: center;
    display:flex;
    font-size: 30px;
    color:whitesmoke;

}

.titre {
    margin-left:50px;
    justify-content:center;
    display: flex;
    flex-direction: row;
    width:50%;
}

/* Block2 */
.form-contact {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.form-contact > h2 {
    font-size: 30px;
    color:whitesmoke;
}

form {
    padding: 0;
    margin-left:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    box-align: center;
    
}

form > div {
    width: 100%;
    display: inline-block;
    justify-content: center;
}

form > div > input {
    width: 60%;
    border-radius: 5px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    font-style:italic;
    color:gray;
    margin-right:10px;
    margin-bottom: 20px;
    box-align:center;
    justify-content: center;
}

#area {
    width: 60%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-style:italic;
    color:gray;
}

/* Button */
button.btn.btn-message.btn-lg {
    width: 20%;
    align-self: center;
    height: 45px;
    background-color: #b76d4a;
    color:white;
    /* box-align:center; */
    text-align: center;
    padding:0;
}

button.btn.btn-message.btn-lg:hover {
    background-color:rgb(69, 69, 237);
}

button:hover {
    background-color: rgb(69, 69, 237);
}

button a {
    font-weight: bolder;
}

button {
    width: 20%;
    align-self: center;
    height: 45px;
    background-color: #b76d4a;
    color:white;
    margin-bottom:20px;
}

.btn.btn-message.btn-lg {
    width: 20%;
    align-self: center;
    height: 45px;
    background-color: #b76d4a;
    color:white;
}

.form-contact > form > button {
    width: 20%;
    align-self: center;
    height: 45px;
    background-color: #b76d4a;
    color:white;
}

input[type="submit"] {
    width: 20%;
    align-self: center;
    height: 45px;
    background-color: #b76d4a;
    color:white;
}

input[type="submit"]:hover {
    background-color:rgb(69, 69, 237);
}

