{% extends 'base.html.twig' %}

{% block title %}Soins Visage{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/soins_visage.css') }}">
{% endblock %}

{% block main %}

<body style="background-color:#E3BC9A">

{# Les produits du visage #}
<div class="card_eyes">

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/soin-contour-des-yeux.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Soin contour des yeux</h5>
    <h6 class="card-price">19,90€</h6>
      <p class="card-text">Soin contour des yeux à base de karité</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/demaquillant_doux_yeux.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Démaquillant doux yeux</h5>
    <h6 class="card-price">15,90€</h6>
      <p class="card-text">Démaquillant doux yeux à base d'huile d'amande douce</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/serum.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sérum-booster bio-activateur</h5>
    <h6 class="card-price">39,90€</h6>
      <p class="card-text">Booster régénérant resurfaçant pour les yeux</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

<div class="card_lips">

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/lip-gloss-bio.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Brillant à Lèvres roll-on HSkin</h5>
    <h6 class="card-price">9,90€</h6>
      <p class="card-text">Glossy Lips non collant et hydratant avec un effet "shining"</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/gommage.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Gommage Lèvres HSkin</h5>
    <h6 class="card-price">11,90€</h6>
      <p class="card-text">Gommage rose doux pour lèvres</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/baume-levres-hydratant.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Baume à lèvres hydratant</h5>
    <h6 class="card-price">8,50€</h6>
      <p class="card-text">Baume hydratant Lèvres à l'extrait de pastèque</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

<div class="card_zonet">

<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/masque_anti_points_noires_fizz.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Masque anti-points noirs "blackhead clear"</h5>
    <h6 class="card-price">25,90€</h6>
      <p class="card-text">Traitement des points noirs avec ce masque à base de charbon actif</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/serum_anti_pores.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sérum anti-pores dilatés</h5>
    <h6 class="card-price">49,90€</h6>
      <p class="card-text">Sérum pour des pores nettoyés et refermés pour un aspect plus lisse</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
<div class="card" style="width: 18rem;display:flex">
  <img class="card-img-top" src="/images/products_img/gel-nettoyant-r_gulateur-zone-t.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Gel nettoyant régulateur sébum</h5>
    <h6 class="card-price">22,90€</h6>
      <p class="card-text">Nettoyant naturel régulateur zone-T pour peaux mixtes à grasses</p>
        <a href="#" class="btn btn-primary">Ajouter au panier</a>
  </div>
</div>
</div>

{% endblock %}
