
.example-wrapper {
    width:100%;
    margin: 0 auto;
}

.philosophie {
    height:40%;
    width:50%;
    text-align:center;
    margin-right:20px;
}

.image1 {
    width:40%;
    height:20%;
    box-align:center;
    float:right;
    margin-left:20px;
}

img {
    border-radius:20px;
    /* margin-left:40px; */
    box-shadow:5px;
}

section {
    margin-left:30px;
    margin-right:30px;
    width:100%;
    box-align:center;
}

.valeurs1.valeurs2.valeurs3.valeurs4 {
    width:25%;
    display:inline-block;
    justify-content:space-between;
    margin-right:10px;
    text-justify:auto;
    text-align:center;
}

h2 {
    color:white;
    font-style: italic;
    text-align:justify;
}

h5 {
    color:gray;
    text-shadow:5px;
}