{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
<body style="background-color:#E3BC9A">

<div class="shop_HSkin"style="width:100%">
        <div class="Visage_HSkin"style="width:50%;margin-left:auto;margin-right:auto">
            <a href="{{ path("app_soins_visage") }}"><img src="/images/visage_hskin.jpg" alt="visage" style="display:inline;justify-content:center;text-align:center;"></a>
                <h4 style="text-shadow:1px 1px 4px black;color:white">Visage</h4>
       
        <div class="Corps_HSkin"style="width:50%;margin-left:auto;margin-right:auto">
            <a href="{{ path("app_soins_corps") }}"><img src="/images/corps_hskin.jpg" alt="corps" style="display:inline;justify-content:center;text-align:center;margin-left:auto;margin-right:auto">
                <h4 style="text-shadow:1px 1px 4px black;color:white">Corps</h4>
        </div>
     </div>
</div>

{% endblock %}
