
  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <div id="intro" class="bg-image vh-100 justify-content-center d-flex"> 
      <img src="{{ asset('images/img_accueil.jpg') }}" alt="img" />
      {# <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div> #}
    </div>
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->

       