
<!--Section: Design Block1-->
<section>
    <div id="intro" class="bg-image vh-100 justify-content-center d-flex"> 
      <img src="{{ asset('images/img_accueil.jpg') }}" alt="img" />
      {# <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div> #}
    </div>
</section>

  <link rel="stylesheet" href="{{ asset('./accueil.css') }}">

<!--Section: Design Block2-->
<section>
    <div id="carouselExemple" class="carousel slide" data-ride="carousel" data-interval="3000">

        <ol class="carousel-indicators">
            <li data-target="#carouselExemple" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExemple" data-slide-to="1"></li>
            <li data-target="#carouselExemple" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">

            <div class="carousel-item active">
                <img src="/images/huile_ess_carousel.png"class="d-block">
            </div>

            <div class="carousel-item">
                <img src="/images/creme_carousel.png"class="d-block">
            </div>

            <div class="carousel-item">
                <img src="/images/coco_carousel.png"class="d-block">
            </div>
        </div>

        <a href="#carouselExemple" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#carouselExemple" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <script>
        $('.carousel').carousel({

            pause: "null"

        })
    </script>
</section>