 <!-- Navbar -->
   <section>
    <!-- Intro -->
    <div id="intro" class="bg-image" style="height:100px;"> 
      {# <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div> #}
    </div>
    <!-- Intro -->
  </section>
